li{
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 0%;
    height: 100%;
    width: 25%;
}

ul li:nth-child(1):hover~span{
    left:0;
    font-style: italic;
}
ul li:nth-child(2):hover~span{
    left: 20%;
}
ul li:nth-child(3):hover~span{
    left:40%;
}
ul li:nth-child(4):hover~span{
    left:60%;
}
ul li:nth-child(5):hover~span{
    left:80%;
}

li:hover{
    cursor: pointer;
    transition: 0.3s;
    /* transform: rotate(180deg); */
    font-size: xx-large;
    font-weight: bold;
}